@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
  --primary: rgba(254, 44, 85, 1);
  //Default Layout
  --default-layout-header-width: 1150px;
  --default-layout-header-height: 60px;
  --text-color: #333;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 62, 5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
