.wrapper {
  padding: 16px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.account-item {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background-color ease-in-out 200ms;
  cursor: pointer;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.label {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 12px;
}
.checkicon {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}

.name {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  span {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
.checkicon {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}
.nickname {
  font-size: 16px;
  line-height: 22px;
  color: #161823;
}
.more-btn {
  color: rgb(254, 44, 85);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 8px;
  margin-top: 8px;
  cursor: pointer;
}

.prof-container {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  border-radius: 8px;
}
