//Menu items
.menu-items {
  width: 224px;
  .menu-item {
    background: transparent;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    border-radius: 0;
    &:hover {
      background: rgba(22, 24, 35, 0.03);
    }
    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
  }
}
.menu-popper {
  padding-bottom: 8px;
}
.menu-body {
  overflow-y: overlay;
}
//Header
.header {
  height: 50px;
  position: relative;
  margin-top: -8px;
  flex-shrink: 0;
}
.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
